---
layout: default
---

<script src="/assets/js/index.js"></script>

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}
</header>

<div class="bio">
  <img src="/assets/images/headshot.jpeg" alt="Willow Bohlen" class="headshot">
  <div class="biotext">
    <h1>{{ site.title }}</h1>
    <p>Hello! My name is Willow, and I'm a programmer, composer, and game developer from Solon, OH.</p>
      <p>
        My mission is to synthesize ideas from many traditions and disciplines into content 
        that engages and inspires its audience. I want to bring unique ideas to the table in every medium I work in: 
        composition, songwriting, software/game development, writing, and whatever else I attempt. No matter what 
        I'm doing, I want to infuse enthusiastic curiosity, constant experimentation, and thorough theoretical understanding into my work.
      </p>
  </div>
</div>

{% if site.theme_config.show_projects == true %}
  <h2 style="clear: both">{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

<h2>About Me</h2>
<p>I am a recent graduate of Heidelberg University, and am preparing to embark on the next stage of my life
  as I start my career in software development. My resume and code of ethics are posted below if you want to
  hear more about my background. If you'd like to talk more, feel free to reach out at wrbohlen@gmail.com.
</p>
<button type="button" class="collapsible">Resume</button>
<div class="content">
    <iframe class="pdfpage" src="https://drive.google.com/file/d/1iZT6xK0w5lvfZXFe4nw_WlmnMYlC0JG3/preview" allow="autoplay"></iframe>
</div>

<br>

<button type="button" class="collapsible">Code of Ethics</button>
<div class="content">
    <iframe class="pdfpage" src="https://drive.google.com/file/d/1GzV9wSozMIH6qz0FaReP_ENCMJ0Pd9sv/preview" allow="autoplay"></iframe>
</div>

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}

