---
layout: default
---

<script src="/assets/js/index.js"></script>

<header>
    {% if site.theme_config.show_navbar == true %}
      {% include horizontal_list.html collection=site.data.home.navbar_entries %}
      <div class="dashed"></div>
    {% endif %}
    
      <h1 id="top">Honors Portfolio</h1>
    </header>
    
    {{ content }}

    <h2>Honors Curriculum</h2>
    {% include card_list.html collection=site.data.honors.project_entries %}

    <h2 id="intro">Intro to Life of the Mind</h2>
    <p>
        All Honors students take Intro to Life of the Mind their first semester. The course introduces the goals and expectations of the
        Honors program, and goes over a few readings and projects. This is the simplest course of the Honors curriculum,
        but lays an important framework for the rest of the seminars.
    </p><p>
        The essay below is from the end of the course, when we were tasked with writing an impromptu essay on our goals 
        and plans for the rest of our college experience. Looking back, I'm pretty satisfied with how I met those goals. 
    </p>
    
    <button type="button" class="collapsible">Impromptu Essay</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/1GQbUoGHhWD0wrVbctBa6ctoc4ieDQiiT/preview" allow="autoplay"></iframe>
    </div>

    <a href="#top" class="return">Return to top</a>


    <h2 id="support">Support Courses</h2>
    <p>
        As part of my portfolio, I am including reflections of non-Honors courses from each academic year. The prompt for each
        is to provide examples of how I've developed and pursued independent and interdisciplinary exploration, or how I was 
        able to better understand the value of interdisciplinary thinking.
    </p>

    <button type="button" class="collapsible">2019-2020</button>
    <div class="content">
        <h4>Concert Choir</h4>
        <p>
            I chose to join the Heidelberg Concert Choir when I started at Heidelberg. I didn't have any sort of vocal background, and had never performed 
            in a large ensemble before. At first it was definitely out of my comfort zone, but I was quickly able to find my footing. Choir ended up being a 
            lot of fun, and it was really valuable to have some experience with a different type of musical performance. I remained in choir for all four years 
            of college, and feel much more confident in my vocal abilities because of it. 
        </p>
        <h4>She Kills Monsters</h4>
        <p>
            In the spring of 2020, I had the opportunity to compose an original score for Heidelberg's production of the play <i>She Kills Monsters</i> 
            by Qui Nguyen. It was challenging, but ended up being a lot of fun. It was my first time writing incidental music, with the added complication 
            of having to coordinate my music with the performers on stage. It forced me to compose in a way that I hadn't before, and I'm very proud of 
            what I was able to write. If you'd like to listen to the score, you can do so <a href="https://squiddotmid.bandcamp.com/album/she-kills-monsters">here.</a>
        </p>
    </div>
    <br>

    <button type="button" class="collapsible">2020-2021</button>
    <div class="content">
        <h4>Teaching & Performing with Technology</h4>
        <p>
            Fall 2020 was marked by a plethora of online classes, as we felt the full effect of COVID. We were able to be on campus, but nearly all of 
            my classes were solely virtual. One of these classes was Teaching & Performing with Technology, a class about how technology can be used in 
            music. My musical background is in electronic music, so most of the course material came very easily to me. However, part of the course involved
            talking about technology's role in music education, which was an area I was much less familiar with. Even if it was a light introduction to 
            education, it gave me a lot of respect for my peers in music education, and the effort that goes into teaching.
        </p>
        <h4>Visual Communication</h4>
        <p>
            I took Visual Communication in spring 2021 as part of my video game production minor. The class gave an overview of graphic design and how it 
            has developed over time. I entered with some casual experience with graphic design, just from what I've been able to teach myself over the years.
            I ended up learning a lot from the class, especially regarding different genres of art, the fundamentals of color theory, and how these concepts
            also apply to films and video games. As the vast majority of my classes tend to be either music or computer science related, it was fun to take a 
            step into a different discipline.
        </p>
    </div>
    <br>

    <button type="button" class="collapsible">2021-2022</button>
    <div class="content">
        <h4>Data Communication and Networking</h4>
        <p>
            Within computer science, my focal area has always been software development. However, as part of my degree I was able to get some exposure to 
            other areas within the field. In fall 2021, I got to explore the world of networking. Going in I understood how to use and configure the internet 
            from a programming prespective, but the class taught me how networks function on a mechanical level. It helped a lot to demystify how the internet 
            actually works, and I now feel a lot more confident in writing code that utilizes online functionality. 
        </p>
        <h4>Ethics</h4>
        <p>
            Ethics is a bit of an outlier on the computer science curriculum, being one of the only courses outside of the computer science department. 
            That said, it was a very interesting course to take, and one that I feel like could be appropriate for any major. The course made me think about 
            my personal worldview, and my stance on various ethical dicussions, and I feel like it was a course that truly made me grow as a person. Depending 
            on what sort of projects I work on, there could very well be times in my career where I have to make ethically challenging decisions, but having 
            some experience with the topic makes me feel confident that I would be able to make ethical choices.
        </p>
    </div>
    <br>

    <button type="button" class="collapsible">2022-2023</button>
    <div class="content">
        <h4>Creative Writing</h4>
        <p>
            I ended up having some extra room in my schedule for my final semester, so I decided to take creative writing just for fun. It's an
            area I've had passing interest in, but never fully explored. Long story short, the class ended up being one of my favorites at Heidelberg. I observed
            that creative writing and music composition are remarkably similar, and I noticed many parallels between the two areas. In the future, I plan to 
            directly combine the two by writing a poem and using it as lyrics for a piece. 
        </p>
        <h4>Senior Recital</h4>
        <p>
            In spring of 2023, I wrote two pieces that combine music with technology, both of which premiered on my senior recital. The first is called 
            'havenspace', which is an interactive piece that involves a website and a big red button, both of which I had to make and program myself. 
            The second is 'GLYPH', a music installation that uses augmented reality technology to turn the audience's phones into instruments. Getting the 
            opportunity to intersect my two majors was very exciting, and I'm very pleased with how both pieces turned out! I am looking forward to finding 
            more opportunities to combine my areas of interest in the future.
        </p>
    </div>

    <a href="#top" class="return">Return to top</a>



    <h2 id="scholar">Scholar Seminar: Empires</h2>
    <p>
        I've always thought that learning about history is interesting, but I'm not very good at remembering all of the names, 
        places, or dates. Fortunately for me, the seminar on Empires focused more on the common factors of empires throughout
        history, and what actually defines an empire. It was a lot easier for me to engage with this broader view of history,
        even when we were studying empires individually. The course was rather distant from my typical area of interest, but 
        I feel like I was able to learn a lot from it. 
    </p><p>
        When Dr. O'Reilly teaches an Honors seminar, there are only three assignments: two papers on subject material from the 
        class, and a semester project of our choice. For my project, I took what I learned from the course and applied it to 
        fantasy worldbuilding, writing a thousand years worth of history for a fictional empire. I took inspiration from the actual
        empires that we studied in class, and theorized how an empire might be affected by the presence of magic, deities, and other
        supernatural forces.
    </p>

    <button type="button" class="collapsible">The Empire of Delbryn</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/19Y7G7N2XlfEUYrfmZ6zeZBmmzuzX7p0J/preview" allow="autoplay"></iframe>
    </div>

    <a href="#top" class="return">Return to top</a>



    <h2 id="scientist">Scientist Seminar: Plagues in History</h2>
    <p>
        It was rather fitting to take a class on plagues during an international pandemic. I took this course in the fall semester
        of 2021, at a time when we still had to wear masks and socially distant, and some classes (like this one) were still online.
        We talked about all sorts of different plagues from throughout the course of history, and were constantly talking about how
        they were similar or different from COVID-19. By the end of the semester, we had a complete narrative of how microbes developed
        alongside humanity, and how each shaped the other.
    </p><p>
        The final project of the course was the 'Reader's Choice Report': during the semester, we each picked a book from a list provided
        by Dr. Pruneski, each one focusing on a certain microbe or disease. At the end of the semester, we wrote a paper and gave a presentation
        for the class. I chose the book <i>The Rise of Yeast</i> by Nicholas P. Money, one of the only non-infectious microbes featured on the list.
        I found it fascinating, and was excited to learn about a microbe that benefits humanity instead of hindering it. Due to that project, 
        yeast became my favorite microbe: it's incredible just how much it helps us, even beyond culinary uses.
    </p>

    <button type="button" class="collapsible">Reader's Choice Report: The Rise of Yeast</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/15JumZo4hz4Z-vFg1rEKnULJyJIfHqfQL/preview" allow="autoplay"></iframe>
    </div>

    <a href="#top" class="return">Return to top</a>



    <h2 id="artist">Artist Seminar: The Films of Stanley Kubrick</h2>
    <p>
        Dr. Doug McConnell was my composition professor for my first two years at Heidelberg, before his retirement in 2021. As such, I 
        worked very close to him during that time, and getting the chance to take an Honors seminar from him was very exciting. Dr. McConnell 
        also happens to be a Kubrick aficionado, and in the seminar we watched every film from the director. I've always had a passing love 
        for cinematography, and I greatly enjoyed discussing the films with my classmates. We also focused on Kubrick's style, and how it
        manifests itself no matter what genre he was directing. The class was a lot of fun, and is easily one of my favorite classes from my
        time at Heidelberg.
    </p><p>
        Our final project for the class was a research essay on one of the films. I chose to analyze the special effects of <i>2001: A Space Odyssey.</i> 
        Although not quite my favorite Kubrick film (which would be <i>Dr. Strangelove</i>), I have a lot of love for <i>2001</i> and its 
        incredible impact on the science fiction genre. Even beyond that genre, its special effects were revolutionary for the time, and paved 
        the way for later films like <i>Star Wars.</i> For my essay I researched how the special effects were done, and discussed the greater 
        impact the film had on the industry.
    </p>

    <button type="button" class="collapsible">Constructing an Odyssey</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/13B6wesBnGzp4je-WAPaJoBqINDc0kDwQ/preview" allow="autoplay"></iframe>
    </div>

    <a href="#top" class="return">Return to top</a>




    <h2 id="citizen">Citizen Seminar: Autocracy vs. Democracy</h2>
    <p>
        I've been told all throughout my life that democracy is a good thing, without nearly as much explanation as to why it's actually good. 
        This seminar dived into that question, analyzing both extremes to find the strengths and weaknesses of each. We discussed 
        how autocracies and democracies formed through history, as well as analyzing more topical events such as the Russo-Ukranian War 
        or potentially autocratic tendencies within the American government. To be clear, I am still firmly on the side of democracy, but I 
        now have a much better understanding of why it's a good thing, and how to prevent it from succumbing to autocracy. 
    </p><p>
        The structure of assignments was the same as the Scholar Seminar, with two papers and a semester project. With Dr. O'Reilly's permission,
        I combined my two papers into a single extended essay on how political themes manifest in <i>The Lego Movie.</i> I wrote about how the 
        setting is portrayed as autocratic, and how the heroes are portrayed with democratic subtext. I don't think that the movie with written 
        with political themes in mind, but instead it reflects more broadly on the common trope of autocracy being associated with evil, and democracy 
        with good. Not saying I disagree with that, but I think it's interesting to notice and analyze it. 
    </p>

    <button type="button" class="collapsible">Everything is Autocratic: The Hidden Dystopia of The Lego Movie</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/1pk0HgP6FKN3szTMAPqgKdtrFb_lBFYwv/preview" allow="autoplay"></iframe>
    </div>

    <a href="#top" class="return">Return to top</a>




    <h2 id="service">Service Learning</h2>
    <p>
        My service learning experience consisted of working with the Tiffin Seneca Economic Partnership to set up a time
        tracking system for their volunteers. The schedule for getting the work done ended up being rather tight, but I'm 
        still happy with how things turned out. For more information on the project, you can read the impromptu essay I wrote
        about the experience.
    </p>

    <button type="button" class="collapsible">Impromptu Essay</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/1-SZG_JjtVmTVIfmOmDG_TWv2o0kUgVU0/preview" allow="autoplay"></iframe>
    </div>

    <p>
        Additionally, as part of the course I kept a service learning journal as the semester went on. I've selected a few 
        entries to include below, for some more insight into my service learning experience.
    </p>
    <button type="button" class="collapsible">Service Learning Journal</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/1kGT2tjEK1JtYAfxO8KvURFBq7GOXqsef/preview" allow="autoplay"></iframe>
    </div>

    <a href="#top" class="return">Return to top</a>




    <h2 id="capstone">Senior Honors Project: The Tower Museum of Arcane Magic</h2>
    <p>
        For my senior honors project, I decided to create a virtual museum. The content of the museum is based on a fictional fantasy 
        world, which I previously wrote about in my <a href="#scholar">scholar seminar.</a> The museum focuses on the magic of this world,
        effectively serving as a fantasy equivalent of a science museum. The project was a lot of fun, giving me the opportunity to practice 
        my game development skills to make the museum, and involved some interesting research as to how museums are designed and how virtual media
        can be used for educational purposes.  
    </p><p>
        As part of the project, I wrote a paper detailing the process of designing the museum, along with a mockup of what a visitor's guide for 
        this museum might look like. Both are embedded below.
    </p>

    <button type="button" class="collapsible">Curator's Guide to the Tower Museum of Arcane Magic</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/1rAhaFahhSRnPiDDkzGFpAbkoUSxD-pRF/preview" allow="autoplay"></iframe>
    </div>
    <br>
    <button type="button" class="collapsible">Tower Museum of Arcane Magic Visitor's Guide</button>
    <div class="content">
        <iframe class="pdfpage" src="https://drive.google.com/file/d/1a4ey1d1UTF_tCXl85u0IEK5p5E8stFeb/preview" allow="autoplay"></iframe>
    </div>

    <a href="#top" class="return">Return to top</a>




    <h2 id="reflection">Senior Honors Reflection</h2>
    <p>
        The final component of my honors porfolio is a reflection on my achievement of the goals of the honors program during my time at Heidelberg.
        It responds to specific goals of the honors program, and how my coursework and senior honors project contributed to those goals. I've selected
        three goals that I'd like to reflect on, listed below.
    </p>
    <h4>Articulate a personal understanding of the value of interdisciplinary thinking and then develop the ability to ask and pursue interdisciplinary research questions.</h4>
    <p>
        As a double major in computer science and music, interdisciplinary thinking has always been at the core of my academic journey. I've spent a lot of time considering 
        the similarities of the two fields, and applying concepts I learn in one towards the other. That mindset carries over to other subject areas as well, and it has always
        been exciting to find new connections between areas. My most fulfilling work has come from the times when I've been able to bridge the gap between different disciplines,
        synthesizing elements from many different areas into a single, cohesive product. An example of this would be the piece <a href="music#pathways">Pathways for Accompanied Navigator</a>, which is a 
        graphic score piece based on a flowchart. I was inspired by the logic diagrams of computer science, and incorporated elements of graphic design into the piece. Going 
        forward, I hope to maintain a diverse set of interests and continue to find interesting ways to combine them.
    </p>
    <h4>Develop and assert an understanding of the relationship between intellectual pursuits and leadership, both on campus and in the world.</h4>
    <p>
        I've had the chance to practice leadership in my extracurricular activities, particularly through my presidency of Alpha Phi Tau during my senior year. A lot of that 
        role involved running our meetings, and making sure everyone's voices were heard. It was remarkably similar to the discussions I've had in classes, where each participant 
        offers their own ideas on a given subject. I believe that the purpose of a leader is to foremost be a listener and a learner by facilitating discussions within a group,
        and accepting input from everyone involved. Leaders should carry a curious mindset, and be willing to listen to opinions that they might not personally agree with. To 
        that end, leadership carries the same mindset as intellectual pursuits.
    </p>
    <h4>Build intellectual confidence, empathy, and creativity through engaging in intellectual risk-taking.</h4>
    <p>
        One of my favorite things about my honors seminars is that they were in areas that I was less familiar with. There was a certain amount of risk involved
        with engaging in areas that I wasn't confident in, but I always gave my best effort to learning and providing useful insights. I've also been able to 
        discuss my thoughts with other students, and learn how their points of view may differ from mine. My seminar on <a href="#citizen">Autocracy vs. Democracy</a>
        was in an area I was less confident in going in, but having the chance to discuss political topics with my peers and learn how their view differ from mine
        was very informative. I didn't feel like we had to agree on everything, and I was able to understand their values and thought processes even when I didn't 
        share them. Overall, college has taught me just how much I don't know, but instead of that being intimidating, I find it exciting: I will always have the 
        chance to learn and engage with new things, no matter how much I know. 
    </p>

    <a href="#top" class="return">Return to top</a>

    {% if site.theme_config.show_footer == true %}
      <footer>
        <div class="dashed"></div>
        {% include horizontal_list.html collection=site.data.honors.footer_entries %}
      </footer>
    {% endif %}
    